@model BiluthyrningAB.Models.ViewModels.CreateRentalVm

@{
    ViewData["Title"] = "Skapa ny bokning";
}

@section Hero{

    <div class="hero">
    </div>

    <div class="container" style="margin-top: -1900px;">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-block">
                    <h2>Skapa ny bokning</h2>

                    <div class="row">
                        <div class="col-md-4">
                            <form asp-action="Create" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="form-group">
                                        <label asp-for="Rental.Customer.FirstName" class="control-label">Förnamn</label>
                                        <input asp-for="Rental.Customer.FirstName" class="form-control" />
                                        <span asp-validation-for="Rental.Customer.FirstName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Rental.Customer.LastName" class="control-label">Efternamn</label>
                                        <input asp-for="Rental.Customer.LastName" class="form-control" />
                                        <span asp-validation-for="Rental.Customer.LastName" class="text-danger"></span>
                                    </div>
                                <div class="form-group">
                                    <label asp-for="Rental.Customer.SocSecNumber" class="control-label">Personnummer</label>
                                    <input asp-for="Rental.Customer.SocSecNumber" class="form-control" />
                                    <span asp-validation-for="Rental.Customer.SocSecNumber" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Rental.Car.CarType" class="control-label">Biltyp</label>
                                    <select asp-for="Rental.Car.CarType"
                                            asp-items="Model.Cars" class="form-control">
                                        <option>Välj biltyp</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Rental.Car.NumberPlate" class="control-label"></label>
                                    <input asp-for="Rental.Car.NumberPlate" class="form-control" />
                                    <span asp-validation-for="Rental.Car.NumberPlate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Rental.StartDate" class="control-label"></label>
                                    <input asp-for="Rental.StartDate" class="form-control" />
                                    <span asp-validation-for="Rental.StartDate" class="text-danger"></span>
                                </div>

                                <br />

                                <div class="form-group">
                                    <input type="submit" value="Skapa bokning" class="btn btn-default" />
                                </div>
                            </form>
                        </div>
                    </div>

                    <div>
                        <a asp-action="Index">Gå tillbaka</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    }
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
    


