@model BiluthyrningAB.Models.ViewModels.CreateRentalVm

@{
    ViewData["Title"] = "Skapa ny bokning";
}

@section Hero{

    <div class="hero">
    </div>

    <div class="container" style="margin-top: -1900px;">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-block">
                    <h2>Skapa ny bokning</h2>

                    <div class="row">
                        <div class="col-md-4">
                            <form asp-action="Create" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>



                                <div class="form-group">
                                    <label class="control-label">Kund</label>
                                    <select asp-for="Rental.CustomerId" asp-items="Model.Customers" class="form-control">
                                        <option disabled selected>Välj kund</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Rental.CarId" class="control-label">Bil</label>
                                    <select asp-for="Rental.CarId"
                                            asp-items="Model.Cars" class="form-control">
                                        <option>Välj bil</option>
                                    </select>
                                </div>
                                @if (ViewBag.Message != null)
                                {
                                    <span class="text-danger">@ViewBag.Message</span>
                                }
                                <div class="form-group">
                                    <label asp-for="Rental.StartDate" class="control-label"></label>
                                    <input asp-for="Rental.StartDate" class="form-control" />
                                    <span asp-validation-for="Rental.StartDate" class="text-danger"></span>
                                </div>

                                <br />

                                <div class="form-group">
                                    <input type="submit" value="Skapa bokning" class="btn btn-default" />
                                </div>
                            </form>
                        </div>
                    </div>

                    <div>
                        <a asp-action="Index">Gå tillbaka</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    }
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
    


